################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
/Printsho.04CD545D/x64/Debug/microsoft/STL
/bin
/Printsho.04CD545D/x64
/Debug
/temp/Debug
/temp/Release
/Release
/log.txt
/ServerUpdate/Release
/ServerUpdate/x64/Release
/x64/Release
/ServerUpdate/x64/Debug
