################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
/Printsho.04CD545D/x64/Debug/microsoft/STL
/bin
/Printsho.04CD545D/x64
/Debug
/temp/Debug
/temp/Release
/Release
/log.txt
/ServerUpdate/Release
/ServerUpdate/x64/Release
/x64/Release
/ServerUpdate/x64/Debug
/x64/Debug/ServerUpdate.exe
/x64/Debug/ServerUpdate.pdb
/x64/Debug
/VersionTool/Release
/VersionTool/x64/Debug
/VersionTool.pdb
/VersionTool.exe
/VersionTool/x64/Release
/VersionTool/x64/Release
